<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Home </title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,800&display=swap" rel="stylesheet">
<body>
{{{body}}}
</body>
</html>
